body {
    box-sizing: content-box;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.mainContent {
    display: flex;
}

.topContainer {
    height: 50px;
    background-color: grey;
}

.projectContainer,
.toDosContainer {
    height: calc(100vh - 50px);
    width: 50vw;
    background-color: aquamarine;
}

.projectContainer {
    border-right: 1px solid black;
}