body {
    box-sizing: content-box;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.mainContent {
    display: flex;
}

.topContainer {
    height: 50px;
    background-color: darkseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.projectContainer,
.toDosContainer {
    height: calc(100vh - 50px - 20px - 20px);
    width: 50vw;
}

.projectContainer {
    border-right: 1px solid black;
    margin: 20px;
}

.projectActions {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 20px;
}

.projectFolder {
    border: 1px solid black;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#projectList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}